:root{
    --primary-color:#00415F;
    --secundary-color:#c9dded;
    --primary-font-color:#ededed;
    --secundary-font-color:#faca1e;
    --main-font: "Ubuntu", sans-serif;
    --secondo-font: "PT Sans", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    margin: 0 auto;
    min-width: 500px;
    max-width: 1200px;
    border: solid;
    border-color: var(--primary-color);
    background-color: var(--secundary-color);
    font-family: var(--secondo-font);
    
    
}
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: var(--primary-font-color);
    position: absolute;
	top: 15px;
	right: 20px;
}
#menu::before {
	content: "☰";
}
#menu.open::before {
	content: "X";
}

header{
    background-color: var(--primary-color);
    height: auto;
    color: white;
    font-family: var(--main-font);
}
#header-div{
    display: flex;
}
#header-h1{
    color: var(--primary-font-color);
    padding-top: 0.8rem;
    padding-left: 0.5rem;
}

nav{
    background-color: var(--primary-color);
}
.navigation{
    list-style: none;
    margin: 0 auto;
    max-width: 750px;

}
.navigation li{
    display: none;
}
.navigation a{
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: var(--primary-font-color);
    font-weight: 760;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}
.navigation a:hover, navigation a:active {
	color: var(--secundary-font-color);
	background-color: rgba(88, 88, 88, 0.838);
}
.open li {
	display: block;
}
footer{
    font-size: 20px;
    background-color: var(--primary-color);;
    color: var(--primary-font-color);
    grid-column: 1/4;
    text-align: center;
}

.container{
    padding: 1.0rem;
    flex-wrap: wrap;
    justify-content: center;
}

.main-lists{
    border:solid;
    border-width: 1px;
    padding: 1.5rem;
    margin-bottom: 1rem;
}
.banner{
    width: 100%;
}
.card{
    width: 350px;
    text-align: center;
    padding: 0.8rem;;
    margin: 0.8rem;
    background-color: rgb(245, 245, 245);
    border: solid;
    border-color: var(--primary-color);
    border-radius: 6px;
}
.info{
    display: inline;
    font-weight: 600;
}

.tournament-1, .tournament-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.container-2{
    text-align: center;
}
.card img{
    margin-top: 1rem;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}
.form1{
    
    width: 500px;
    margin: 0 auto;
}
.form1 fieldset{
    max-width: 500px;
    margin-bottom: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    padding: 1rem 2.5em 1rem 2.5rem;

}
.form1 label{
    
    display: block;
    padding-top: 1rem;
    color: #9c1c13;
    font-size: 1.2rem;
}
.form1 input[type="text"],
.form1 input[type="tel"],
.form1 input[type="email"],
.form1 input[type="date"]
{
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

.form1 input[type="submit"] {
    padding: .8rem;
    margin-top: 1rem;
    width: 400px;
    font-size: 20px;
}

.container-4{
    padding: 1rem;
    min-height: 500px;
}

/* ////////////aca */



@media only screen and (min-width: 570px) {

}


/* 570px */
@media only screen and (min-width: 800px) {
	header{
        height: 3.8rem;
        display: flex;
    }
    .navigation {
        margin-right: 0;
	}
    .nav-list{
        display: flex;
    }
    .navigation li {
		display: block;

		
	}
    .navigation a {
		text-align: right;
        font-size: 1.4rem;
        width: 100%;
        flex: 1 1 100%;
	}
    #menu {
		display: none;
	}
    
    
    

}