body {
    display: grid;
    height: 80vh;
}
header{
    background: gray;
    height:90PX;
    grid-column: 1/4;
}

.menu a{
    flex: 1 1 100%;
    list-style: none;
	
	
	align-items: center;
}
.main{
    grid-column: 1/3;
}
.asaid{
    grid-column: 3/4;
}

footer{
    background: gray;
    text-align: center;
    grid-column: 1/4;
}