:root{
    --background-color:#143b6f;
    --secundary-font-color:#f5f56b;
    --third-font-color: #ffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    min-width: 500px;
    max-width: 1300px;
    border: solid;
    border-color: var(--background-color);
}
main{
    text-align: center;
}
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: var(--third-font-color);
    position: absolute;
	top: 8px;
	right: 20px;
}
#menu::before {
	content: "☰";
}
#menu.open::before {
	content: "X";
}

header{
    background-color: var(--background-color);
    height: auto;
    color: var(--third-font-color);
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}
nav{
    background-color: var(--background-color);
}
.navigation{
    list-style: none;
    margin: 0 auto;

}
.navigation li{
    display: none;
}
.navigation a{
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: white;
    font-weight: 760;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}
.navigation a:hover, navigation a:active {
	color: white;
	background-color: rgba(88, 88, 88, 0.838);
}
.open li {
	display: block;
}
img{
    margin-top: 1rem;
    width:300px;
    height: 180px;
    border: solid;
    border-color: rgb(210, 211, 211);
    box-shadow: 0 0 10PX 2PX rgb(80, 82, 82);

}
.card{
    padding: 0.8rem;;
    margin: 0.8rem;
    background-color: rgb(245, 245, 245);
    border: solid;
    border-color: rgb(210, 211, 211);
    border-radius: 6px;
}
footer{
    font-size: 20px;
    background-color: var(--background-color);;
    color: rgb(255, 255, 255);
    grid-column: 1/4;
    text-align: center;
}
#lastModified{
    color:var(--secundary-font-color);

}
#color-yellow{
    color: rgb(207, 207, 128);
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.info{
    display: inline;
    font-weight: 600;
}

@media only screen and (min-width: 570px) {
	header{
        height: 3.2rem;
        display: flex;
    }
    .navigation {
        margin-right: 0;
	}
    .nav-list{
        display: flex;
    }
    .navigation li {
		display: block; /* change state in small view */

		
	}
    .navigation a {
		text-align: right;
        font-size: 22px;
        flex: 1 1 100%;

	}
    #menu {
		display: none;
	}
    
    

}